body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", serif;
    font-size: 16px;
    color: #404040;
}

.wrapperChoice {
    display: block;
    font-size: 24px;
    color: #404040;
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px solid #eae9e8;
    border-radius: 4px;
    margin-bottom: 5px;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#encrypt {
margin-left: 738px;
margin-top: 10px;
}

#decrypt {
    margin-left: 30px;
}

#encrypt, #decrypt {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.5em 1.4em;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

#encrypt:hover, #decrypt:hover {
    background: rgb(53, 167, 110);
}

#encrypt:active, #decrypt:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

#clear {
    margin-left: 24px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.5em 1.6em;
    border-radius: 3px;
    background: #f5a600;
    box-shadow: 0 -3px #d77206 inset;
    transition: 0.2s;
}

#clear:hover {
    background: #d77206;
}

#clear:active {
    background: #D76805;
}

.leftColumn {
    position: fixed;
    float: left;
    width: 250px;
    background-color: #f7f7f7;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
}

.rightColumn {
    margin-left: 250px;
    height: 100%;
}

.key {
    margin-bottom: 10px;
}

input {
    width: 124px;
    height: 20px;
    border: 1px solid #a0a0a0;
    border-bottom-color: #838383;
    padding-left: 5px;
    border-radius: 3px;
}

textarea {
    margin-left: 25px;
    display: inline-block;
    height: 205px;
    width: 630px;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    color: #404040;
    padding: 4px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

.incomingMsg {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}

.outcomingMsg {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}