body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", serif;
    font-size: 16px;
    color: #404040;
}

.wrapperChoice {
    display: block;
    font-size: 18px;
    color: #404040;
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px solid #eae9e8;
    border-radius: 4px;
    margin-bottom: 5px;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
;
}

#encrypt, #decrypt, #descriptionChoice {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
}

#descriptionChoice {
    margin-right: 20px;
    font-size: 23px;
}

#encrypt, #decrypt {
    border: 1px solid #37662b;
    color: #ffffff;
    background-color: #4ba81d;
    border-radius: 2px;
    padding: 6px 12px;
}

.leftColumn {
    position: fixed;
    float: left;
    width: 250px;
    background-color: #f7f7f7;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
}

.rightColumn {
    margin-left: 250px;
    height: 100%;
}

a.commandButton {
    border: 1px solid #37662b;
    border-top-color: #4a803c;
    background-color: #4ba81d;
    display: block;
    margin: 32px 0 40px 30px;
    height: 38px;
    width: 177px;
    color: #ffffff;
    border-radius: 2px;
    position: relative;

}

.commandButton:last-child {
    margin-top: 30px;
}

span.description {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 30px;
    line-height: 36px;
}

.key {
    display: block;
    margin-left: 31px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    width: 124px;
    border: 1px solid #a0a0a0;
    border-bottom-color: #838383;
    padding-left: 5px;
    border-radius: 3px;
}

textarea {
    display: block;
    margin-left: 25px;
    height: 100px;
    font-family: "Segoe UI", sans-serif;
    color: #404040;
    padding: 4px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

textarea.last {
    margin-top: 15px;
}

.incomingMsg {
    margin-left: 25px;
    margin-bottom: 10px;
}